.contenedor {     
    padding: 20px;          
    background-color: #E8BABA; 
} 

.body {
    background-image: url('/public/torta5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

p {
    text-align: justify;
    margin-inline: 50px;
}